body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-color: antiquewhite;
}

a{
  text-decoration: none;
}

.title{
  font-size: 90px;
  color: antiquewhite;
  background-color: coral;
  max-width: fit-content;
  display: block;
  margin: auto;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.link{
  font-size: 30px;
  background-color: lightcoral;
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
  color: azure;
}

img{
  border-radius: 20px;
}

.header{
  font-size: 30px;
  background-color: coral;
  border-radius: 10px;
  max-width: fit-content;
  padding: 5px;
  margin: auto;
  margin-top: 30px;
  color: aliceblue;
}

.ingredients{
  display: inline-block;
  list-style: none;
  background-color: rgb(255, 214, 176);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 20px;
  color: black;
}

.method{
  display: inline-block;
  width: 70%;
  float: none;
  background-color: rgb(255, 214, 176);
  border-radius: 10px;
  color: black;
  padding: 10px;
  padding-left: 25px;
  padding-right: 20px;
}

.home{
  display: block;
  max-width: fit-content;
  font-size: 15px;
  margin: auto;
  background-color: lightseagreen;
}
